{%  extends 'accounts/main.html' %}
{% block content %}
	<br>
	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<h5>Products</h5>
			</div>
			<div class="card card-body">
				<table class="table">
					  <thead>
 						   <tr>
      							<th scope="col">Products</th>
      							<th scope="col">Category</th>
      							<th scope="col">Price</th>
						   </tr>
					  </thead>
					<tbody>

					{% for product in products %}
						<tr>
							<td>{{product.name}}</td>
							<td>{{product.category}}</td>
							<td>{{product.price}}</td>
						</tr>

					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock content %}